[mysqld]
default_storage_engine={{ mysql_default_storage_engine }}
binlog_format={{ mysql_binlog_format }}
query_cache_size={{ mysql_query_cache_size }}

innodb_file_format={{ mysql_innodb_file_format }}
innodb_autoinc_lock_mode={{ mysql_innodb_autoinc_lock_mode }}
